<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <div class="login_box">
        <h1>Login</h1>
        <form>
            <label for="user">Entre com seu usuario:</label><br>
            <input type="text" id="usuario" name="usuario"><br>
            <label for="pass">Senha:</label><br>
            <input type="password" id="senha" name="senha"><br>
        </form>
        <button class="button__login"> Logar! </button>
    </div>


</body>
</html>
